@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    font-family: "Outfit", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    transition: 0.7s;
    padding: 1.5rem 1.25rem;
    z-index: 10;
    transition: background-color 0.7s, padding 0.7s, box-shadow 0.7s;
}
.header.down {
    background-color: white;
    padding: 0.9rem 1.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.header.down .header__logo,
.header.down .header__nav-link {
    color: black;
}
.header.down  .header__nav-item-inicio {
    color: white;
}
.header__nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__nav-list{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__nav-item{
    list-style: none;
}
.header__nav-item-inicio{
    background-color: rgb(23, 39, 82);
    padding: .5rem;
    border-radius: 1rem;
}

.header__nav-link{
    position: relative;
    margin: 0 1rem;
    text-decoration: none;
    letter-spacing: 0.15rem;
    color: white;
    font-weight: 600;
    transition: 0.7s;
}

.header .header__logo {
    position: relative;
    color: white;
    font-weight: bold;
    font-size: 2rem;
    letter-spacing: 0.1rem;
    transition: 1.5s;
    text-decoration: none;
}

.header__nav-toggle {
    display: none;
}

/* Footer */
.footer {
    background-color: #1a1a1a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 1rem 0;
}
.footer__top{
    margin-top: 1rem;
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-content: center;
    gap: 8rem;
}
.footer__title-gourmet {
    font-weight: 600;
    font-size: 2rem;
    text-decoration: none;
    color: white;
}
.footer__list, .footer__social-list{
    text-decoration: none;
    list-style: none;
    padding: 1rem 0;
}
.footer__link{
    text-decoration: none;
    color: white;
}
.footer__item{
    padding: .5rem 0;
}
.footer__social-list{
    display: flex;
    gap: 1rem;
}
.footer__title-siguenos{
    margin-left: 1.5rem;
}
.footer__social-item:hover{
    background-color: rgb(23, 39, 82);
    border-radius: 1rem;
    height: 2rem;
}
.footer__hr {
    width: 80%;
    border: none; 
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    margin: .5rem;
    border-radius: 5px;
}
.footer__bottom {
    text-align: center;
    margin-bottom: 1rem;
}
.footer__hr-top.oculto {
    display: none;
}

@media (max-width: 850px){
    .footer__hr-top.oculto {
        display: block;
        width: 100%;
    }
    .header {
        background-color: white;
    }
    .header__nav-list {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: white;
        text-align: center;
        opacity: 0;
        transition: opacity 0.7s ease;
    }
    .header .header__logo{
        color: rgb(0, 0, 0);
    }
    .header__nav-item{
        padding: 1rem;
    }
    .header__nav-list--active {
        opacity: 1;
        display: flex; 
    }
    .header .header__nav-item-inicio{
        color: white;
    }
    .header__nav-toggle {
        display: block;
        background: none;
        border: none;
        cursor: pointer;
    }
    .header__nav-toggle-icon {
        width: 32px;
        height: 32px;
        fill: black;
    }

    .header__nav-link {
        color: black;
        padding: 1rem;
        border-bottom: 1px solid #ccc;
    }

    .header.down .header__nav-item-inicio {
        color: white;
        background-color: #172752;
    }
    /* Footer */
    .footer__social-item {
        margin-left: .5rem;
        align-items: center;
    }
    .footer__top {
        grid-template-columns: 1fr; 
        text-align: center;
        gap: 2rem;
    }

    .footer__title-gourmet {
        font-size: 1.5rem;
        text-align: center;
    }

    .footer__title {
        font-size: 1.25rem;
    }

    .footer__list, .footer__social-list {
        padding: 0.5rem 0;
        text-align: center; 
    }
    .footer__title-siguenos{
        margin-left: 0;
    }
}
@media (max-width: 480px) {
    .footer__top {
        grid-template-columns: 1fr; 
        text-align: center;
        gap: 1rem; 
    }

    .footer__title-gourmet {
        font-size: 1.25rem;
    }

    .footer__title {
        font-size: 1rem;
    }

    .footer__list, .footer__social-list {
        padding: 0.5rem 0;
    }

    .footer__social-item {
        width: 2rem; 
        height: 2rem;
    }
}
